@model IEnumerable<FrontEnd_Student.Models.Student>

@{
    ViewData["Title"] = "Student List";
}

<h1>Student List</h1>

<p>
    <button id="create-student" class="btn btn-primary">Create New</button>
</p>

<div id="students-list">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr data-id="@student.Id" data-name="@student.Name">
                    <td>@student.Name</td>
                    <td>
                        <button class="btn btn-sm btn-primary edit-student">Edit</button>
                        <button class="btn btn-sm btn-info view-details">Details</button>
                        <button class="btn btn-sm btn-danger delete-student">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="form-container"></div>
<div id="modal-container"></div>

<script>
    $(document).ready(function () {
        // Handle Create
        $('#create-student').click(function () {
            $.get('/Student/Create', function (data) {
                $('#form-container').html(data);
                $('#form-container').show();
                $('#students-list').hide();
            });
        });

        // Handle Edit
        $('.edit-student').click(function () {
            var id = $(this).closest('tr').data('id');
            $.get('/Student/Edit/' + id, function (data) {
                $('#form-container').html(data);
                $('#form-container').show();
                $('#students-list').hide();
            });
        });

        // Handle Delete
        $('.delete-student').click(function () {
            debugger
            var id = $(this).closest('tr').data('id');
            $.get('/Student/Delete/' + id, function (data) {
                $('#modal-container').html(data);
                $('#deleteModal').modal('show');
            });
        });

        // Handle Details
        $('.view-details').click(function () {
            var id = $(this).closest('tr').data('id');
            $.get('/Student/Details/' + id, function (data) {
                $('#modal-container').html(data);
                $('#detailsModal').modal('show');
            });
        });
    });
</script>
